In [3]:
import numpy as np
import pandas as pd

pd.set_option('precision', 3)

# Household power consumption
## Pandas implementation
[Data source](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)

In [4]:
#if you dont have data locally 

#import data
#data.download_power_ds()

In [5]:
%%time
power = pd.read_csv("data/household_power_consumption.txt", delimiter=';')
power.columns = ['Date', 'Time', 'Active', 'Reactive', 'Voltage', 'Intensity', 'met1', 'met2', 'met3']

CPU times: user 2.5 s, sys: 287 ms, total: 2.79 s
Wall time: 3.27 s

In [6]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Time       object
 2   Active     object
 3   Reactive   object
 4   Voltage    object
 5   Intensity  object
 6   met1       object
 7   met2       object
 8   met3       float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [7]:
%%time

power['DateTime'] = pd.to_datetime(power['Date'] + '-' + power['Time'], format="%d/%m/%Y-%H:%M:%S")
power.drop(columns = ['Date', 'Time'], inplace=True)
power.set_index('DateTime', inplace=True)

CPU times: user 10.6 s, sys: 135 ms, total: 10.8 s
Wall time: 10.8 s

In [8]:
%%time
power.drop(power[power.isna().any(axis=1)].index, inplace=True) #drop because task required this

CPU times: user 1.21 s, sys: 64.3 ms, total: 1.27 s
Wall time: 1.27 s

In [9]:
%%time

for column in power.columns:
    power[column] = power[column].astype('float32')

CPU times: user 1.36 s, sys: 165 ms, total: 1.53 s
Wall time: 1.52 s

In [10]:
power.head(10)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:24:00   4.216     0.418   234.84       18.4   0.0   1.0  17.0
2006-12-16 17:25:00   5.360     0.436   233.63       23.0   0.0   1.0  16.0
2006-12-16 17:26:00   5.374     0.498   233.29       23.0   0.0   2.0  17.0
2006-12-16 17:27:00   5.388     0.502   233.74       23.0   0.0   1.0  17.0
2006-12-16 17:28:00   3.666     0.528   235.68       15.8   0.0   1.0  17.0
2006-12-16 17:29:00   3.520     0.522   235.02       15.0   0.0   2.0  17.0
2006-12-16 17:30:00   3.702     0.520   235.09       15.8   0.0   1.0  17.0
2006-12-16 17:31:00   3.700     0.520   235.22       15.8   0.0   1.0  17.0
2006-12-16 17:32:00   3.668     0.510   233.99       15.8   0.0   1.0  17.0
2006-12-16 17:33:00   3.662     0.510   233.86       15.8   0.0   2.0  16.0

In [11]:
def is_integer_column(column):
    return power[column].apply(float.is_integer).all()

for column in power.columns:
    if is_integer_column(column):
        power[column] = power[column].astype('int32')

In [12]:
power.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2049280 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Active     float32
 1   Reactive   float32
 2   Voltage    float32
 3   Intensity  float32
 4   met1       int32
 5   met2       int32
 6   met3       int32
dtypes: float32(4), int32(3)
memory usage: 70.4 MB

In [13]:
power.head(10)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:24:00   4.216     0.418   234.84       18.4     0     1    17
2006-12-16 17:25:00   5.360     0.436   233.63       23.0     0     1    16
2006-12-16 17:26:00   5.374     0.498   233.29       23.0     0     2    17
2006-12-16 17:27:00   5.388     0.502   233.74       23.0     0     1    17
2006-12-16 17:28:00   3.666     0.528   235.68       15.8     0     1    17
2006-12-16 17:29:00   3.520     0.522   235.02       15.0     0     2    17
2006-12-16 17:30:00   3.702     0.520   235.09       15.8     0     1    17
2006-12-16 17:31:00   3.700     0.520   235.22       15.8     0     1    17
2006-12-16 17:32:00   3.668     0.510   233.99       15.8     0     1    17
2006-12-16 17:33:00   3.662     0.510   233.86       15.8     0     2    16

## Task 1
Select all rows where Active > 5 kW

In [14]:
power[power['Active'] > 5]

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:25:00   5.360     0.436   233.63       23.0     0     1    16
2006-12-16 17:26:00   5.374     0.498   233.29       23.0     0     2    17
2006-12-16 17:27:00   5.388     0.502   233.74       23.0     0     1    17
2006-12-16 17:35:00   5.412     0.470   232.78       23.2     0     1    17
2006-12-16 17:36:00   5.224     0.478   232.99       22.4     0     1    16
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-22 18:40:00   5.408     0.150   231.50       23.6    48     0     0
2010-11-22 18:41:00   5.528     0.144   232.48       24.6    53     0     0
2010-11-24 07:50:00   5.172     0.050   235.18       22.0     0    38    17
2010-11-24 07:51:00   5.750     0.000   234.40       24.6     0    39    17
2010-11-25 07:21:00   5.074     0.240   238.55       21.4     1     2    18

[17547 rows x 7 columns]

## Task 2
Select all rows where Voltage > 235 V

In [15]:
power[power['Voltage'] > 235]

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:28:00   3.666     0.528   235.68       15.8     0     1    17
2006-12-16 17:29:00   3.520     0.522   235.02       15.0     0     2    17
2006-12-16 17:30:00   3.702     0.520   235.09       15.8     0     1    17
2006-12-16 17:31:00   3.700     0.520   235.22       15.8     0     1    17
2006-12-16 17:38:00   4.054     0.422   235.24       17.6     0     1    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-26 20:58:00   0.946     0.000   240.43        4.0     0     0     0
2010-11-26 20:59:00   0.944     0.000   240.00        4.0     0     0     0
2010-11-26 21:00:00   0.938     0.000   239.82        3.8     0     0     0
2010-11-26 21:01:00   0.934     0.000   239.70        3.8     0     0     0
2010-11-26 21:02:00   0.932     0.000   239.55        3.8     0     0     0

[1952491 rows x 7 columns]

## Task 3
Select all where met2 > met3 from rows where Intensity in \[19,20\]

In [16]:
i_condition = (power['Intensity'] >= 19) & (power['Intensity'] <= 20)
i_subset = power[i_condition]
i_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:34:00   4.448     0.498   232.86       19.6     0     1    17
2006-12-16 17:48:00   4.474     0.000   234.96       19.4     0     0    17
2006-12-16 17:57:00   4.512     0.000   233.62       19.2     0     0    17
2006-12-16 18:09:00   4.464     0.136   234.66       19.0     0    37    16
2006-12-16 18:16:00   4.524     0.076   234.20       19.6     0     9    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-24 07:53:00   4.666     0.000   235.72       19.8     0    39    17
2010-11-24 07:54:00   4.694     0.000   236.78       19.8     0    39    18
2010-11-24 07:55:00   4.602     0.000   237.08       19.4     0    40    17
2010-11-24 07:56:00   4.536     0.000   237.03       19.0     0    39    17
2010-11-24 07:57:00   4.626     0.000   236.78       19.4     0    39    17

[7021 rows x 7 columns]

In [17]:
i_subset[i_subset['met2'] > i_subset['met3']]

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:09:00   4.464     0.136   234.66       19.0     0    37    16
2006-12-17 01:04:00   4.582     0.258   238.08       19.6     0    13     0
2006-12-17 01:08:00   4.618     0.104   239.61       19.6     0    27     0
2006-12-17 01:19:00   4.636     0.140   237.37       19.4     0    36     0
2006-12-17 01:20:00   4.634     0.152   237.17       19.4     0    35     0
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-24 07:53:00   4.666     0.000   235.72       19.8     0    39    17
2010-11-24 07:54:00   4.694     0.000   236.78       19.8     0    39    18
2010-11-24 07:55:00   4.602     0.000   237.08       19.4     0    40    17
2010-11-24 07:56:00   4.536     0.000   237.03       19.0     0    39    17
2010-11-24 07:57:00   4.626     0.000   236.78       19.4     0    39    17

[2509 rows x 7 columns]

## Task 4
Select 500000 random unique rows. Calculate mean of all mets.

In [18]:
rnd_row_index = np.random.choice(power.index, 500000, replace=False)
rnd_subset = power.loc[rnd_row_index]
rnd_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2010-02-01 05:09:00   0.240     0.000   246.67        1.0     0     0     1
2007-01-07 22:50:00   2.042     0.000   244.08        8.2     0     0    18
2007-03-18 09:58:00   1.900     0.212   242.07        7.8     0     7    17
2008-08-21 21:56:00   0.080     0.000   239.72        0.2     0     0     1
2008-03-28 05:06:00   0.330     0.116   244.66        1.4     0     0     0
...                     ...       ...      ...        ...   ...   ...   ...
2010-05-28 00:35:00   0.338     0.000   241.94        1.4     0     0     0
2009-02-10 07:56:00   2.630     0.080   241.74       10.8     0     0    18
2010-09-02 06:45:00   1.998     0.304   241.70        8.4     0     2    30
2010-08-23 15:43:00   0.254     0.096   242.88        1.2     0     1     1
2010-01-22 10:47:00   1.404     0.108   240.61        5.8     0     0    19

[500000 rows x 7 columns]

In [19]:
def print_mean(df : pd.DataFrame, column : str):
    mean = df[column].mean()
    print(f"Mean of {column}: {mean}")

print_mean(rnd_subset, 'met1')
print_mean(rnd_subset, 'met2')
print_mean(rnd_subset, 'met3')

Mean of met1: 1.124806
Mean of met2: 1.281062
Mean of met3: 6.452264

## Task 5
From night(>=18:00) rows select all where minute consumption > 6kW

Split this subset by max met and for each select every third from 1 part and every_fourth from 2 part

In [20]:
nigth_subset = power[power.index.hour >= 18]
nigth_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:00:00   2.790     0.180   237.52       11.8     0     0    18
2006-12-16 18:01:00   2.624     0.144   238.20       11.0     0     0    17
2006-12-16 18:02:00   2.772     0.118   238.28       11.6     0     0    17
2006-12-16 18:03:00   3.740     0.108   236.93       16.4     0    16    18
2006-12-16 18:04:00   4.928     0.202   235.01       21.0     0    37    16
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-26 20:58:00   0.946     0.000   240.43        4.0     0     0     0
2010-11-26 20:59:00   0.944     0.000   240.00        4.0     0     0     0
2010-11-26 21:00:00   0.938     0.000   239.82        3.8     0     0     0
2010-11-26 21:01:00   0.934     0.000   239.70        3.8     0     0     0
2010-11-26 21:02:00   0.932     0.000   239.55        3.8     0     0     0

[513146 rows x 7 columns]

In [21]:
night_subset = nigth_subset.resample('Min').sum() #probably several minute is not exists
nigth_subset.isna().all()

Active       False
Reactive     False
Voltage      False
Intensity    False
met1         False
met2         False
met3         False
dtype: bool

In [22]:
nigth_gt6_subset = nigth_subset[nigth_subset['Active'] > 6]
nigth_gt6_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:05:00   6.052     0.192   232.93       26.2     0    37    17
2006-12-16 18:06:00   6.752     0.186   232.12       29.0     0    36    17
2006-12-16 18:07:00   6.474     0.144   231.85       27.8     0    37    16
2006-12-16 18:08:00   6.308     0.116   232.25       27.0     0    36    17
2006-12-16 18:35:00   6.072     0.000   232.48       26.4     0    27    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-20 18:44:00   6.374     0.392   228.52       28.2    15    36    16
2010-11-20 18:45:00   6.564     0.430   228.43       29.0    13    40    16
2010-11-20 18:46:00   6.438     0.308   229.26       28.4    13    39    16
2010-11-20 18:49:00   6.210     0.174   228.82       27.4    21    34    17
2010-11-20 18:52:00   6.364     0.126   229.38       28.2    17    34    16

[2882 rows x 7 columns]

In [23]:
indexer = lambda row: np.argmax([row['met1'], row['met2'], row['met3']]) + 1
classes = nigth_gt6_subset.apply(indexer, axis = 1)

print("Count of classes")
np.unique(classes, return_counts=True)[1]

Count of classes

array([1740, 1062,   80])

In [24]:
def get_split_group(df : pd.DataFrame, n: int, classes):
    return df.loc[classes[classes == n].index]

met1_subset = get_split_group(nigth_gt6_subset, 1, classes)
met2_subset = get_split_group(nigth_gt6_subset, 2, classes)
met3_subset = get_split_group(nigth_gt6_subset, 3, classes)

In [25]:
def nth(df : pd.DataFrame, n : int, start : int, end : int):
    indexes = np.arange(start, end, n)      
    return df.iloc[indexes]

def fourth_from_tail(df : pd.DataFrame):
    start = np.floor(len(df) / 2)
    end = len(df)
    return nth(df, 4, start, end)

def third_from_head(df : pd.DataFrame):
    start = 0
    end = np.ceil(len(df) / 2)
    return nth(df, 3, start, end)

In [26]:
third_from_head(met2_subset)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:05:00   6.052     0.192   232.93       26.2     0    37    17
2006-12-16 18:08:00   6.308     0.116   232.25       27.0     0    36    17
2006-12-28 20:58:00   6.386     0.374   236.63       27.0     1    36    17
2006-12-28 21:02:00   8.088     0.262   235.50       34.4     1    72    17
2006-12-28 21:05:00   7.230     0.152   235.22       30.6     1    73    17
...                     ...       ...      ...        ...   ...   ...   ...
2008-03-23 20:27:00   7.222     0.208   233.36       30.8     0    73    16
2008-03-23 20:30:00   6.952     0.178   234.24       29.6     0    72    17
2008-03-23 20:33:00   6.490     0.196   234.04       27.6     0    72    17
2008-03-23 20:36:00   6.708     0.180   234.10       28.6     0    73    16
2008-04-20 21:00:00   8.268     0.312   232.30       35.6     1    72    17

[177 rows x 7 columns]

In [27]:
fourth_from_tail(met2_subset)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2008-04-20 21:03:00   7.798     0.328   231.76       33.6     1    71    17
2008-04-20 21:07:00   7.452     0.346   232.31       32.2     1    68    17
2008-04-20 21:11:00   6.436     0.382   232.10       27.6     1    37    17
2008-04-20 21:15:00   6.200     0.216   232.51       26.6     1    37    17
2008-05-18 20:30:00   6.760     0.236   234.90       29.8     2    52    28
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-20 18:30:00   6.620     0.314   229.00       29.2    18    34    16
2010-11-20 18:34:00   6.266     0.360   229.82       27.6    14    35    16
2010-11-20 18:38:00   6.302     0.376   229.65       27.8    15    34    17
2010-11-20 18:42:00   6.238     0.344   229.37       27.6    14    35    16
2010-11-20 18:46:00   6.438     0.308   229.26       28.4    13    39    16

[133 rows x 7 columns]