In [1]:
import numpy as np
from datetime import time
from numpy.lib import recfunctions as rfn

np.set_printoptions(suppress=True, precision=3)

# Household power consumption
## Numpy implementation
[Data source](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)

In [2]:
#if you dont have data locally 

#import data
#data.download_power_ds()

In [3]:
%%time

info = {
    'names':('Active','Reactive','Voltage','Intensity','met1', 'met2', 'met3'),
    'formats':('f4','f4','f4','f4','i4','i4','i4')}

power_data = np.genfromtxt("data/household_power_consumption.txt", delimiter=';', dtype=info,usecols=range(2,9), skip_header=True, missing_values=['?'])

power_datetime = np.loadtxt("data/household_power_consumption.txt", delimiter=';', usecols=[0,1], dtype='U', skiprows=1)

CPU times: user 36.1 s, sys: 1.41 s, total: 37.5 s
Wall time: 37.7 s

In [4]:
power_data

array([(4.216, 0.418, 234.84, 18.4, 0, 1, 17),
       (5.36 , 0.436, 233.63, 23. , 0, 1, 16),
       (5.374, 0.498, 233.29, 23. , 0, 2, 17), ...,
       (0.938, 0.   , 239.82,  3.8, 0, 0,  0),
       (0.934, 0.   , 239.7 ,  3.8, 0, 0,  0),
       (0.932, 0.   , 239.55,  3.8, 0, 0,  0)],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4')])

In [5]:
power_datetime

array([['16/12/2006', '17:24:00'],
       ['16/12/2006', '17:25:00'],
       ['16/12/2006', '17:26:00'],
       ...,
       ['26/11/2010', '21:00:00'],
       ['26/11/2010', '21:01:00'],
       ['26/11/2010', '21:02:00']], dtype='<U10')

In [6]:
%%time

def to_dt(row):
    date_split = row[0].split('/')[::-1]    
    for i in [1,2]:        
        if len(date_split[i]) < 2:
            date_split[i] = "0" + date_split[i]
    dateISO = "-".join(date_split)
    return np.datetime64(dateISO + "T" + row[1]) 

dts = np.apply_along_axis(to_dt, 1, power_datetime)

CPU times: user 21.2 s, sys: 2.78 ms, total: 21.2 s
Wall time: 21.2 s

In [7]:
power = rfn.append_fields(power_data, 'DateTime', dts, usemask=False)
power

array([(4.216, 0.418, 234.84, 18.4, 0, 1, 17, '2006-12-16T17:24:00'),
       (5.36 , 0.436, 233.63, 23. , 0, 1, 16, '2006-12-16T17:25:00'),
       (5.374, 0.498, 233.29, 23. , 0, 2, 17, '2006-12-16T17:26:00'), ...,
       (0.938, 0.   , 239.82,  3.8, 0, 0,  0, '2010-11-26T21:00:00'),
       (0.934, 0.   , 239.7 ,  3.8, 0, 0,  0, '2010-11-26T21:01:00'),
       (0.932, 0.   , 239.55,  3.8, 0, 0,  0, '2010-11-26T21:02:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

In [8]:
nan_mask = np.zeros((len(power)), dtype=bool)

for column in power.dtype.names:
    nan_mask = nan_mask | np.isnan(power[column])

power = power[~nan_mask]
power

array([(4.216, 0.418, 234.84, 18.4, 0, 1, 17, '2006-12-16T17:24:00'),
       (5.36 , 0.436, 233.63, 23. , 0, 1, 16, '2006-12-16T17:25:00'),
       (5.374, 0.498, 233.29, 23. , 0, 2, 17, '2006-12-16T17:26:00'), ...,
       (0.938, 0.   , 239.82,  3.8, 0, 0,  0, '2010-11-26T21:00:00'),
       (0.934, 0.   , 239.7 ,  3.8, 0, 0,  0, '2010-11-26T21:01:00'),
       (0.932, 0.   , 239.55,  3.8, 0, 0,  0, '2010-11-26T21:02:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

## Task 1
Select all rows where Active > 5 kW

In [9]:
%%time

power[power['Active'] > 5]

CPU times: user 9.8 ms, sys: 53 Âµs, total: 9.85 ms
Wall time: 8.85 ms

array([(5.36 , 0.436, 233.63, 23. , 0,  1, 16, '2006-12-16T17:25:00'),
       (5.374, 0.498, 233.29, 23. , 0,  2, 17, '2006-12-16T17:26:00'),
       (5.388, 0.502, 233.74, 23. , 0,  1, 17, '2006-12-16T17:27:00'),
       ...,
       (5.172, 0.05 , 235.18, 22. , 0, 38, 17, '2010-11-24T07:50:00'),
       (5.75 , 0.   , 234.4 , 24.6, 0, 39, 17, '2010-11-24T07:51:00'),
       (5.074, 0.24 , 238.55, 21.4, 1,  2, 18, '2010-11-25T07:21:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

## Task 2
Select all rows where Voltage > 235 V

In [10]:
%%time

power[power['Voltage'] > 235]

CPU times: user 25 ms, sys: 7.95 ms, total: 33 ms
Wall time: 32.7 ms

array([(3.666, 0.528, 235.68, 15.8, 0, 1, 17, '2006-12-16T17:28:00'),
       (3.52 , 0.522, 235.02, 15. , 0, 2, 17, '2006-12-16T17:29:00'),
       (3.702, 0.52 , 235.09, 15.8, 0, 1, 17, '2006-12-16T17:30:00'), ...,
       (0.938, 0.   , 239.82,  3.8, 0, 0,  0, '2010-11-26T21:00:00'),
       (0.934, 0.   , 239.7 ,  3.8, 0, 0,  0, '2010-11-26T21:01:00'),
       (0.932, 0.   , 239.55,  3.8, 0, 0,  0, '2010-11-26T21:02:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

## Task 3
Select all where met2 > met3 from rows where Intensity in \[19,20\]

In [11]:
%%time

condition = np.logical_and.reduce([ power['Intensity'] >= 19, power['Intensity'] <= 20, power['met2'] > power['met3'] ])

power[condition]

CPU times: user 24.7 ms, sys: 8.09 ms, total: 32.8 ms
Wall time: 30.8 ms

array([(4.464, 0.136, 234.66, 19. , 0, 37, 16, '2006-12-16T18:09:00'),
       (4.582, 0.258, 238.08, 19.6, 0, 13,  0, '2006-12-17T01:04:00'),
       (4.618, 0.104, 239.61, 19.6, 0, 27,  0, '2006-12-17T01:08:00'),
       ...,
       (4.602, 0.   , 237.08, 19.4, 0, 40, 17, '2010-11-24T07:55:00'),
       (4.536, 0.   , 237.03, 19. , 0, 39, 17, '2010-11-24T07:56:00'),
       (4.626, 0.   , 236.78, 19.4, 0, 39, 17, '2010-11-24T07:57:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

## Task 4
Select 500000 random unique rows. Calculate mean of all mets.

In [12]:
%%time

rnd_row_index = np.random.choice(np.arange(0,len(power)), 500000, replace=False)
power[rnd_row_index]

CPU times: user 309 ms, sys: 0 ns, total: 309 ms
Wall time: 307 ms

array([(1.388, 0.068, 240.41, 5.8, 0, 1, 19, '2008-10-18T05:05:00'),
       (0.838, 0.246, 242.8 , 3.6, 0, 0, 12, '2008-08-23T00:32:00'),
       (1.438, 0.062, 242.64, 5.8, 0, 0, 18, '2007-04-04T23:40:00'), ...,
       (0.44 , 0.046, 245.22, 2. , 0, 0,  0, '2008-11-02T06:51:00'),
       (1.458, 0.102, 241.06, 6. , 1, 0, 18, '2008-02-11T08:14:00'),
       (0.258, 0.   , 241.52, 1. , 0, 0,  1, '2010-05-02T04:52:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

In [13]:
def print_mean(array : np.ndarray, column : int):
    mean = np.mean(power[column])
    print(f"Column {column}: {mean}")

print_mean(power, 'met1')
print_mean(power, 'met2')
print_mean(power, 'met3')

Column met1: 1.1219233096502186
Column met2: 1.2985199679887571
Column met3: 6.45844735712055

## Task 5
From night(>=18:00) rows select all where minute consumption > 6kW

Split this subset by max met and for each select every third from 1 part and every fourth from 2 part

In [14]:
def row_time(row):    
    return row[0].time()

def get_time(arr):        
    dts = arr['DateTime'].astype('object').reshape((len(arr),1))
    return np.apply_along_axis(row_time, 1, dts)

In [15]:
%%time

condition = (get_time(power) >= time(18)) & (power['Active'] > 6)

power_night = power[condition]
power_night

CPU times: user 14.7 s, sys: 119 ms, total: 14.8 s
Wall time: 14.8 s

array([(6.052, 0.192, 232.93, 26.2,  0, 37, 17, '2006-12-16T18:05:00'),
       (6.752, 0.186, 232.12, 29. ,  0, 36, 17, '2006-12-16T18:06:00'),
       (6.474, 0.144, 231.85, 27.8,  0, 37, 16, '2006-12-16T18:07:00'),
       ...,
       (6.438, 0.308, 229.26, 28.4, 13, 39, 16, '2010-11-20T18:46:00'),
       (6.21 , 0.174, 228.82, 27.4, 21, 34, 17, '2010-11-20T18:49:00'),
       (6.364, 0.126, 229.38, 28.2, 17, 34, 16, '2010-11-20T18:52:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

In [16]:
met1_max_condition = (power_night['met1'] >= power_night['met2']) & (power_night['met1'] >= power_night['met3'])
met2_max_condition = (power_night['met2'] > power_night['met1']) & (power_night['met2'] >= power_night['met3'])
met3_max_condition = (power_night['met3'] > power_night['met1']) & (power_night['met3'] > power_night['met2'])

power_met1 = power_night[met1_max_condition]
power_met2 = power_night[met2_max_condition]
power_met3 = power_night[met3_max_condition]

In [17]:
met1_first, met1_second = np.array_split(power_met1, 2)
met2_first, met2_second = np.array_split(power_met2, 2)
met3_first, met3_second = np.array_split(power_met3, 2)

In [18]:
met1_first[::3].shape

(290,)

In [19]:
met1_second[::4]

array([(7.568, 0.422, 230.46, 32.8, 36, 34, 16, '2008-02-02T19:26:00'),
       (7.988, 0.608, 229.99, 34.8, 35, 35, 16, '2008-02-02T19:33:00'),
       (8.456, 0.546, 227.48, 37.2, 35, 34, 15, '2008-02-02T19:41:00'),
       (6.058, 0.478, 230.7 , 26.2, 36,  5, 16, '2008-02-02T19:53:00'),
       (7.898, 0.298, 231.37, 34. , 71,  1, 16, '2008-02-02T20:44:00'),
       (7.764, 0.284, 229.46, 33.8, 71,  0, 16, '2008-02-02T20:50:00'),
       (6.31 , 0.246, 233.47, 27.2, 32,  0, 17, '2008-02-10T18:40:00'),
       (6.678, 0.14 , 231.01, 28.8, 36,  1, 16, '2008-02-10T18:44:00'),
       (6.478, 0.132, 228.72, 28.2, 36,  0, 16, '2008-02-10T18:48:00'),
       (6.368, 0.134, 229.6 , 27.6, 36,  1, 16, '2008-02-10T18:52:00'),
       (6.516, 0.242, 231.1 , 28.2, 36,  2, 16, '2008-02-10T18:56:00'),
       (6.582, 0.324, 232.91, 28.2, 36,  1, 17, '2008-02-10T19:00:00'),
       (6.544, 0.322, 232.59, 28.2, 37,  1, 16, '2008-02-10T19:04:00'),
       (6.726, 0.538, 232.59, 29. , 37,  2, 17, '2008-02-10T19:11:00'),
       (6.132, 0.202, 234.85, 26.2, 37,  0, 17, '2008-02-15T21:31:00'),
       (6.07 , 0.   , 234.02, 26. , 37,  0, 17, '2008-02-17T20:24:00'),
       (6.02 , 0.094, 234.78, 25.6, 37,  0, 17, '2008-02-17T20:28:00'),
       (6.064, 0.644, 234.91, 25.8, 51,  0,  0, '2008-02-20T19:42:00'),
       (7.542, 0.222, 236.05, 32.2, 51, 27,  0, '2008-02-20T19:55:00'),
       (7.362, 0.248, 235.61, 31.6, 47, 36,  0, '2008-02-20T20:08:00'),
       (7.676, 0.316, 230.22, 33.2, 36,  0, 16, '2008-02-23T19:21:00'),
       (8.06 , 0.076, 232.96, 34.6, 36, 35, 17, '2008-03-05T21:40:00'),
       (7.922, 0.08 , 233.75, 33.8, 37, 35, 17, '2008-03-05T21:44:00'),
       (8.018, 0.094, 233.94, 34.2, 37, 36, 17, '2008-03-05T21:48:00'),
       (7.89 , 0.   , 232.62, 33.8, 36, 35, 17, '2008-03-05T21:52:00'),
       (6.804, 0.106, 234.5 , 29. , 36, 34,  0, '2008-03-05T22:30:00'),
       (6.222, 0.1  , 232.24, 27. , 36, 28,  0, '2008-03-05T22:37:00'),
       (6.978, 0.284, 234.99, 29.6, 74,  0, 17, '2008-03-08T20:19:00'),
       (6.756, 0.286, 235.51, 28.8, 71,  0, 17, '2008-03-08T20:23:00'),
       (7.778, 0.074, 230.6 , 33.6, 35, 34, 17, '2008-03-13T20:47:00'),
       (7.52 , 0.074, 230.14, 32.6, 35, 34, 16, '2008-03-13T20:51:00'),
       (7.082, 0.088, 230.68, 30.6, 35, 34, 16, '2008-03-13T20:55:00'),
       (6.168, 0.   , 234.11, 26.2, 36, 36, 17, '2008-03-13T21:37:00'),
       (6.608, 0.452, 236.57, 28. , 39,  0, 14, '2008-03-16T18:28:00'),
       (6.228, 0.192, 233.38, 26.6, 37,  0, 16, '2008-03-16T18:59:00'),
       (6.448, 0.22 , 235.07, 27.6, 37, 14, 17, '2008-03-23T20:17:00'),
       (6.834, 0.066, 233.41, 29.2, 35,  0, 17, '2008-03-29T19:00:00'),
       (8.796, 0.548, 232.5 , 38. , 38, 27, 17, '2008-04-12T18:09:00'),
       (6.714, 0.472, 235.86, 28.4, 39, 36, 17, '2008-04-12T18:13:00'),
       (6.564, 0.25 , 237.02, 27.6, 39, 36, 18, '2008-04-12T18:27:00'),
       (7.544, 0.28 , 235.77, 32. , 38, 35, 18, '2008-04-12T18:36:00'),
       (9.21 , 0.258, 233.91, 39.6, 67, 30, 18, '2008-04-12T18:40:00'),
       (6.29 , 1.364, 231.14, 28. , 36,  6, 17, '2008-04-13T18:43:00'),
       (6.98 , 0.252, 233.15, 30. , 36, 30, 17, '2008-04-20T21:31:00'),
       (6.816, 0.25 , 232.61, 29.4, 36, 35, 17, '2008-04-20T21:35:00'),
       (6.02 , 0.132, 233.53, 25.8, 36, 32, 18, '2008-04-20T21:41:00'),
       (6.426, 0.302, 237.03, 27. , 38, 35, 18, '2008-05-04T18:47:00'),
       (6.298, 0.454, 234.59, 26.8, 37, 37, 18, '2008-05-04T19:10:00'),
       (7.13 , 0.048, 234.11, 30.4, 37, 36, 17, '2008-05-18T20:37:00'),
       (6.998, 0.068, 233.79, 29.8, 37, 37, 17, '2008-05-18T20:43:00'),
       (6.524, 0.192, 232.88, 28. , 36, 32, 17, '2008-05-18T21:22:00'),
       (6.72 , 0.338, 234.88, 28.8, 36, 31, 17, '2008-05-18T21:26:00'),
       (6.116, 0.22 , 236.61, 25.8, 37, 21, 18, '2008-05-18T21:30:00'),
       (6.178, 0.348, 228.26, 27.2, 35,  1, 17, '2008-06-03T20:26:00'),
       (6.014, 0.314, 234.56, 25.6, 37,  0, 18, '2008-06-09T22:34:00'),
       (6.084, 0.652, 236.41, 26. , 38,  0, 17, '2008-06-19T19:43:00'),
       (6.366, 0.232, 234.17, 27.2, 38, 36, 17, '2008-06-27T18:31:00'),
       (6.868, 0.048, 233.76, 29.4, 36, 36, 17, '2008-07-03T21:48:00'),
       (6.302, 0.108, 234.47, 26.8, 37, 35, 17, '2008-07-06T22:07:00'),
       (6.196, 0.108, 234.53, 26.4, 37, 35, 17, '2008-07-06T22:11:00'),
       (6.838, 0.23 , 228.01, 30. , 35,  0,  1, '2008-09-04T20:12:00'),
       (6.704, 0.232, 233.11, 28.6, 37, 37, 17, '2008-09-22T20:30:00'),
       (6.836, 0.234, 232.09, 29.4, 36, 23, 28, '2008-09-22T20:35:00'),
       (6.206, 0.32 , 236.33, 26.2, 38,  0, 28, '2008-10-01T21:08:00'),
       (6.594, 0.236, 230.32, 28.6, 36, 36, 12, '2008-10-12T18:40:00'),
       (6.768, 0.342, 230.51, 29.6, 36, 26, 17, '2008-10-12T19:25:00'),
       (6.654, 0.312, 236.96, 28. , 37,  0, 18, '2008-10-18T23:27:00'),
       (6.788, 0.302, 236.  , 28.8, 37,  0, 18, '2008-10-18T23:31:00'),
       (6.93 , 0.304, 236.83, 29.2, 37,  0, 18, '2008-10-18T23:35:00'),
       (6.66 , 0.432, 236.46, 28.2, 37,  0, 18, '2008-10-18T23:45:00'),
       (6.188, 0.374, 235.25, 26.2, 37,  0, 17, '2008-10-18T23:49:00'),
       (6.186, 0.506, 231.89, 26.8, 33,  0,  0, '2008-10-24T19:39:00'),
       (7.334, 0.418, 233.67, 31.6, 38, 31, 16, '2008-10-24T20:31:00'),
       (7.704, 0.17 , 233.78, 32.8, 79,  0, 17, '2008-10-24T20:52:00'),
       (7.746, 0.29 , 233.01, 33.2, 78,  0, 16, '2008-10-24T20:56:00'),
       (7.636, 0.294, 231.43, 33. , 77,  0, 16, '2008-10-24T21:00:00'),
       (6.27 , 0.25 , 233.71, 26.8, 79,  0,  0, '2008-10-24T22:09:00'),
       (6.518, 0.   , 236.41, 28.2, 37,  0, 17, '2008-11-15T23:00:00'),
       (7.36 , 0.06 , 230.83, 31.8, 36, 36, 17, '2008-11-22T21:47:00'),
       (8.362, 0.056, 233.07, 36. , 36, 28, 16, '2008-11-23T20:40:00'),
       (7.574, 0.   , 232.33, 32.6, 36, 26, 16, '2008-11-23T20:44:00'),
       (7.594, 0.216, 232.34, 32.6, 36, 15, 16, '2008-11-23T20:48:00'),
       (7.118, 0.188, 234.65, 30.6, 37,  0, 17, '2008-11-27T19:37:00'),
       (6.946, 0.382, 234.84, 29.6, 37,  0, 17, '2008-11-27T19:41:00'),
       (7.71 , 0.078, 234.45, 32.8, 37, 37, 17, '2008-11-30T20:21:00'),
       (7.78 , 0.218, 234.07, 33.2, 37, 36, 16, '2008-11-30T20:25:00'),
       (6.366, 0.42 , 236.74, 27. ,  0,  0,  0, '2008-12-02T20:14:00'),
       (6.17 , 0.324, 235.24, 26.2, 37, 36,  0, '2008-12-09T19:51:00'),
       (6.496, 0.15 , 239.78, 27. , 38, 37,  0, '2008-12-21T21:30:00'),
       (6.606, 0.15 , 240.26, 27.4, 38, 37,  0, '2008-12-21T21:34:00'),
       (7.45 , 0.11 , 234.03, 31.8, 36, 30, 17, '2009-01-02T18:33:00'),
       (6.366, 0.316, 238.75, 26.6, 38,  0, 18, '2009-01-11T19:05:00'),
       (6.14 , 0.298, 238.42, 25.8, 33,  0, 17, '2009-01-11T19:18:00'),
       (7.534, 0.384, 238.03, 31.8, 39, 28, 17, '2009-01-16T19:50:00'),
       (7.932, 0.468, 234.72, 33.8, 38, 36, 17, '2009-01-16T19:54:00'),
       (7.938, 0.468, 234.91, 33.8, 37, 36, 17, '2009-01-16T19:58:00'),
       (7.88 , 0.35 , 234.14, 33.6, 37, 36, 17, '2009-01-16T20:05:00'),
       (7.962, 0.336, 236.03, 33.6, 38, 36, 17, '2009-01-16T20:11:00'),
       (7.728, 0.222, 234.25, 33. , 37, 35, 17, '2009-01-16T20:18:00'),
       (7.834, 0.33 , 233.83, 33.4, 37, 37, 17, '2009-01-16T20:24:00'),
       (8.088, 0.602, 234.48, 34.6, 38, 37, 17, '2009-01-16T20:31:00'),
       (6.734, 0.428, 236.25, 28.6, 38, 27, 17, '2009-01-16T20:38:00'),
       (6.228, 0.44 , 236.67, 26.4, 38, 19, 17, '2009-01-16T20:42:00'),
       (6.268, 0.528, 238.63, 26.4, 39, 21, 18, '2009-01-16T20:49:00'),
       (6.414, 0.322, 233.98, 27.4, 37,  1, 18, '2009-01-18T18:52:00'),
       (6.332, 0.606, 236.47, 27. , 38,  2, 17, '2009-01-18T19:11:00'),
       (6.052, 0.466, 234.36, 25.8, 37,  2, 17, '2009-01-18T19:48:00'),
       (7.474, 0.064, 236.39, 31.6, 38, 36, 17, '2009-01-18T21:23:00'),
       (6.026, 0.068, 234.66, 25.6, 36, 18, 16, '2009-01-18T21:27:00'),
       (6.386, 0.384, 234.51, 28. , 26, 26, 17, '2009-01-18T21:31:00'),
       (6.14 , 0.294, 235.23, 26. , 37,  1, 17, '2009-02-08T20:30:00'),
       (6.412, 0.388, 237.78, 27. , 38, 36,  0, '2009-02-11T18:02:00'),
       (6.426, 0.36 , 236.99, 27. , 38, 36,  0, '2009-02-11T18:08:00'),
       (6.356, 0.244, 236.03, 26.8, 37, 35,  0, '2009-02-11T18:15:00'),
       (6.722, 0.252, 233.86, 28.6, 37, 34,  0, '2009-02-11T18:22:00'),
       (6.086, 0.128, 233.09, 26. , 37, 34,  0, '2009-02-11T20:21:00'),
       (6.08 , 0.124, 233.32, 26. , 36, 34,  0, '2009-02-11T20:25:00'),
       (6.264, 0.   , 233.46, 26.8, 72,  0,  0, '2009-02-20T18:15:00'),
       (6.186, 0.194, 234.1 , 26.4, 36, 36,  0, '2009-02-22T21:23:00'),
       (6.29 , 0.   , 237.07, 26.6, 37, 25, 17, '2009-02-23T22:28:00'),
       (6.014, 0.06 , 235.44, 25.6, 37, 21, 17, '2009-02-23T22:33:00'),
       (6.15 , 0.266, 237.68, 26. , 37, 27, 18, '2009-03-08T21:32:00'),
       (6.516, 0.126, 234.73, 27.6, 37, 35, 17, '2009-03-08T21:36:00'),
       (6.028, 0.414, 233.6 , 26. , 38,  0, 17, '2009-03-20T19:50:00'),
       (6.144, 0.376, 232.97, 26.6, 31,  0, 16, '2009-03-25T20:20:00'),
       (6.358, 0.46 , 233.97, 27.4, 67,  0, 17, '2009-03-28T18:50:00'),
       (6.872, 0.278, 233.43, 29.4, 73,  0, 17, '2009-04-11T20:41:00'),
       (6.866, 0.276, 234.26, 29.2, 79,  0, 23, '2009-04-12T20:20:00'),
       (6.534, 0.228, 234.53, 27.8, 79,  0, 17, '2009-04-12T20:24:00'),
       (7.308, 0.196, 232.91, 31.4, 78,  0, 17, '2009-04-12T20:31:00'),
       (7.96 , 0.322, 231.46, 34.4, 77,  0, 17, '2009-04-12T20:44:00'),
       (7.91 , 0.34 , 230.74, 34.2, 76,  0, 17, '2009-04-12T20:48:00'),
       (6.034, 0.456, 231.62, 26. , 43,  1, 17, '2009-04-12T21:13:00'),
       (6.028, 0.5  , 232.79, 26. , 43,  1, 17, '2009-04-12T21:21:00'),
       (6.04 , 0.382, 234.28, 25.8, 44,  2, 17, '2009-04-12T21:26:00'),
       (7.454, 0.244, 232.93, 32. , 78,  2, 10, '2009-04-12T21:33:00'),
       (7.01 , 0.25 , 233.35, 30. , 78,  2,  1, '2009-04-12T21:37:00'),
       (6.072, 0.264, 236.1 , 25.6, 37, 37, 18, '2009-04-14T19:23:00'),
       (6.322, 0.114, 235.31, 26.8, 37,  0,  1, '2009-04-19T20:24:00'),
       (7.156, 0.192, 235.57, 30.4, 37, 35, 18, '2009-05-03T20:36:00'),
       (7.352, 0.172, 234.41, 31.2, 37, 35, 18, '2009-05-03T20:40:00'),
       (7.756, 0.168, 234.67, 33. , 37, 36, 17, '2009-05-03T20:44:00'),
       (6.012, 0.514, 231.9 , 26.2, 36, 27,  1, '2009-05-10T19:36:00'),
       (6.152, 0.25 , 236.48, 26. , 38, 37, 18, '2009-08-13T20:02:00'),
       (6.622, 0.262, 235.82, 28.4, 37, 25, 18, '2009-08-13T20:06:00'),
       (6.884, 0.538, 236.15, 29.6, 38, 38, 21, '2009-08-22T19:10:00'),
       (6.746, 0.388, 234.69, 29. , 37,  1, 17, '2009-09-07T21:06:00'),
       (6.058, 0.392, 235.53, 25.8, 37,  1, 29, '2009-09-15T20:23:00'),
       (6.718, 0.268, 235.58, 28.4, 36,  2, 29, '2009-09-18T20:57:00'),
       (6.324, 0.408, 233.46, 27. , 37, 34, 12, '2009-10-11T19:21:00'),
       (6.776, 0.252, 232.16, 29.2, 37,  0, 17, '2009-11-03T19:56:00'),
       (6.76 , 0.356, 232.03, 29.2, 37,  2, 17, '2009-11-03T20:00:00'),
       (7.786, 0.192, 233.73, 33.2, 78,  0, 17, '2009-11-22T20:37:00'),
       (7.696, 0.188, 232.55, 33. , 78,  0, 17, '2009-11-22T20:41:00'),
       (7.626, 0.168, 232.26, 32.8, 77,  0, 17, '2009-11-22T20:45:00'),
       (6.584, 0.498, 235.28, 28. , 44,  0, 28, '2009-11-22T21:16:00'),
       (6.31 , 0.348, 234.5 , 27. , 44,  0, 17, '2009-11-22T21:20:00'),
       (6.288, 0.554, 235.47, 26.8, 38, 18, 18, '2009-11-24T19:43:00'),
       (6.07 , 0.562, 235.36, 26. , 38,  1, 18, '2009-12-06T19:01:00'),
       (6.332, 0.076, 239.31, 26.4, 38, 30, 18, '2009-12-12T20:06:00'),
       (6.974, 0.316, 238.23, 29.4, 37, 31, 18, '2009-12-14T21:36:00'),
       (6.92 , 0.292, 239.28, 29. , 38, 29, 19, '2009-12-14T21:41:00'),
       (6.07 , 0.566, 236.84, 25.8, 38,  0,  0, '2009-12-21T19:28:00'),
       (6.092, 0.444, 239.5 , 25.4, 40,  0, 18, '2009-12-21T20:14:00'),
       (6.948, 0.24 , 242.06, 28.6, 78,  0, 18, '2009-12-21T20:40:00'),
       (6.856, 0.252, 241.6 , 28.4, 73,  0, 18, '2009-12-24T19:54:00'),
       (7.03 , 0.242, 241.07, 29. , 78,  0, 19, '2009-12-24T20:02:00'),
       (6.674, 0.612, 239.45, 28. , 40,  0, 18, '2009-12-24T20:49:00'),
       (6.446, 0.442, 239.86, 27. , 38,  1, 19, '2009-12-24T20:56:00'),
       (6.546, 0.074, 240.41, 27.2, 38,  0, 18, '2009-12-24T23:02:00'),
       (6.296, 0.34 , 232.69, 27. , 72,  0,  0, '2009-12-27T20:28:00'),
       (6.454, 0.336, 232.89, 27.6, 73,  0,  1, '2009-12-27T20:32:00'),
       (6.342, 0.434, 234.12, 27. , 73,  0,  0, '2009-12-27T20:36:00'),
       (6.382, 0.648, 234.53, 27.4, 37,  1,  1, '2009-12-27T21:11:00'),
       (7.838, 0.196, 233.94, 33.6, 37, 36, 17, '2009-12-30T20:37:00'),
       (7.066, 0.116, 234.24, 30. , 36, 35, 17, '2009-12-30T20:42:00'),
       (7.038, 0.324, 234.51, 30. , 37, 18, 28, '2009-12-30T20:54:00'),
       (6.606, 0.182, 234.6 , 28.2, 37, 18, 18, '2009-12-30T20:58:00'),
       (6.098, 0.578, 237.12, 26. , 38,  0, 18, '2010-01-02T18:00:00'),
       (7.268, 0.698, 235.36, 31. , 37, 37,  1, '2010-01-09T18:19:00'),
       (7.852, 0.458, 235.87, 33.4, 38, 36, 18, '2010-01-09T18:30:00'),
       (6.93 , 0.226, 235.79, 29.4, 38,  0, 18, '2010-01-09T19:16:00'),
       (6.962, 0.226, 236.33, 29.4, 38,  0, 17, '2010-01-09T19:20:00'),
       (6.962, 0.224, 236.4 , 29.4, 38,  0, 18, '2010-01-09T19:24:00'),
       (6.65 , 0.384, 238.2 , 28. , 35,  0, 28, '2010-01-19T19:14:00'),
       (6.646, 0.302, 236.96, 28. , 48,  0, 17, '2010-01-19T19:18:00'),
       (6.37 , 0.382, 235.96, 27.2, 37,  0, 17, '2010-01-19T19:37:00'),
       (6.094, 0.212, 235.91, 25.8, 36, 30, 18, '2010-01-23T22:46:00'),
       (6.9  , 0.192, 234.  , 29.8, 37, 24, 18, '2010-01-30T18:33:00'),
       (6.422, 0.218, 234.98, 27.4, 37, 30, 18, '2010-01-30T18:37:00'),
       (7.312, 0.112, 235.06, 31. , 37, 37, 17, '2010-02-03T21:32:00'),
       (7.37 , 0.114, 233.01, 31.6, 36, 36, 17, '2010-02-03T21:36:00'),
       (7.294, 0.23 , 231.04, 31.6, 36, 36, 17, '2010-02-03T21:40:00'),
       (6.124, 0.35 , 235.21, 26.2, 40,  0, 18, '2010-02-04T19:45:00'),
       (6.01 , 0.606, 232.55, 26. , 46,  1, 17, '2010-02-06T18:49:00'),
       (7.3  , 0.676, 233.19, 31.6, 65,  1, 17, '2010-02-06T18:55:00'),
       (7.25 , 0.624, 232.6 , 31.6, 55,  1, 27, '2010-02-06T18:59:00'),
       (7.416, 0.064, 237.86, 31.4, 38,  0, 18, '2010-02-06T23:07:00'),
       (6.13 , 0.346, 239.25, 25.6, 49,  0, 19, '2010-02-15T19:14:00'),
       (6.57 , 0.456, 235.32, 28.2, 43,  0, 18, '2010-04-08T20:01:00'),
       (6.014, 0.178, 235.09, 25.6, 53,  0, 17, '2010-04-11T20:36:00'),
       (6.112, 0.166, 235.36, 26. , 54,  0, 17, '2010-04-11T20:40:00'),
       (6.094, 0.158, 235.41, 26. , 54,  0, 17, '2010-04-11T20:44:00'),
       (8.32 , 0.092, 231.66, 36.2, 77,  0, 17, '2010-04-11T20:49:00'),
       (7.7  , 0.   , 233.15, 33. , 87,  0, 18, '2010-04-11T20:53:00'),
       (7.044, 0.   , 232.51, 30.4, 77,  0, 17, '2010-04-11T20:57:00'),
       (7.144, 0.108, 231.96, 30.8, 77,  0, 18, '2010-04-11T21:01:00'),
       (6.714, 0.138, 230.92, 29. , 72,  0, 17, '2010-05-15T21:26:00'),
       (6.116, 0.214, 235.57, 25.8, 37, 37, 18, '2010-06-19T21:42:00'),
       (6.878, 0.202, 235.05, 30. , 67, 25, 18, '2010-06-21T18:52:00'),
       (7.068, 0.298, 234.98, 30.2, 67, 25, 18, '2010-06-21T18:56:00'),
       (6.044, 0.384, 236.6 , 25.6, 37,  0, 28, '2010-09-20T21:00:00'),
       (6.324, 0.114, 237.36, 27. , 53,  1, 18, '2010-10-02T20:23:00'),
       (6.892, 0.464, 234.13, 29.8, 31,  1, 18, '2010-10-10T20:45:00'),
       (6.234, 0.31 , 235.39, 26.6, 47,  0, 18, '2010-10-14T18:49:00'),
       (6.696, 0.432, 233.72, 28.8, 40, 35,  0, '2010-11-04T19:16:00'),
       (6.572, 0.056, 235.76, 28. , 80,  0,  1, '2010-11-04T20:37:00'),
       (6.598, 0.152, 236.7 , 27.8, 80,  0,  1, '2010-11-04T20:43:00')],
      dtype=[('Active', '<f4'), ('Reactive', '<f4'), ('Voltage', '<f4'), ('Intensity', '<f4'), ('met1', '<i4'), ('met2', '<i4'), ('met3', '<i4'), ('DateTime', '<M8[s]')])

# Performance tests

In [20]:
import performance as pf
import pandas as pd

step = 100000
count = 10
performance_df = pd.DataFrame()

In [21]:
performance_df['Selection'] = pf.get_mean_execution_time_iterative(power, lambda arr: arr[arr['Active']>5], count=count, step=step)

In [22]:
performance_df['BuiltInCalculation'] = pf.get_mean_execution_time_iterative(power, lambda arr: arr['Active'].mean(), count=count, step=step)

In [23]:
import numpy.lib.recfunctions as rfn


def test_func(arr):
    rfn.apply_along_fields(np.mean, arr[['Active']])


performance_df['CustomCalculation'] = pf.get_mean_execution_time_iterative(power, test_func, count=count, step=step)

In [24]:
performance_df

    Selection  BuiltInCalculation  CustomCalculation
0    0.000011            0.000038           0.000193
1    0.000548            0.000432           0.001126
2    0.000934            0.000787           0.001955
3    0.001351            0.001096           0.002564
4    0.001786            0.001379           0.003290
5    0.002173            0.001837           0.003792
6    0.002371            0.002073           0.004413
7    0.002924            0.002131           0.004996
8    0.003167            0.002777           0.006110
9    0.003836            0.002993           0.007585
10   0.004165            0.003450           0.007817
11   0.004248            0.003226           0.007790
12   0.005110            0.003980           0.008806
13   0.005013            0.004149           0.008701
14   0.005207            0.004421           0.009522
15   0.005271            0.004234           0.010814
16   0.004943            0.004338           0.011413
17   0.005657            0.004349           0.011559
18   0.006021            0.004693           0.012105
19   0.006837            0.004856           0.012828
20   0.007452            0.005182           0.013338
21   0.007980            0.005446           0.013991

In [25]:
performance_df.to_csv("data/numpy-performance.csv", index=False)