In [1]:
import numpy as np
import pandas as pd

pd.set_option('precision', 3)

# Household power consumption
## Pandas implementation
[Data source](https://archive.ics.uci.edu/ml/datasets/individual+household+electric+power+consumption)

In [2]:
#if you dont have data locally 

#import data
#data.download_power_ds()

In [3]:
%%time
power = pd.read_csv("data/household_power_consumption.txt", delimiter=';')
power.columns = ['Date', 'Time', 'Active', 'Reactive', 'Voltage', 'Intensity', 'met1', 'met2', 'met3']

CPU times: user 2.53 s, sys: 277 ms, total: 2.81 s
Wall time: 3.3 s

In [4]:
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Time       object
 2   Active     object
 3   Reactive   object
 4   Voltage    object
 5   Intensity  object
 6   met1       object
 7   met2       object
 8   met3       float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [5]:
%%time

power['DateTime'] = pd.to_datetime(power['Date'] + power['Time'], format="%d/%m/%Y%H:%M:%S")
power.drop(columns = ['Date', 'Time'], inplace=True)
power.set_index('DateTime', inplace=True)

CPU times: user 10.5 s, sys: 143 ms, total: 10.6 s
Wall time: 10.6 s

In [6]:
%%time

power.dropna(inplace=True)

CPU times: user 935 ms, sys: 68.3 ms, total: 1 s
Wall time: 998 ms

In [7]:
%%time

for column in power.columns:
    power[column] = power[column].astype('float32')

CPU times: user 1.78 s, sys: 87.9 ms, total: 1.87 s
Wall time: 1.86 s

In [8]:
power.head(10)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:24:00   4.216     0.418   234.84       18.4   0.0   1.0  17.0
2006-12-16 17:25:00   5.360     0.436   233.63       23.0   0.0   1.0  16.0
2006-12-16 17:26:00   5.374     0.498   233.29       23.0   0.0   2.0  17.0
2006-12-16 17:27:00   5.388     0.502   233.74       23.0   0.0   1.0  17.0
2006-12-16 17:28:00   3.666     0.528   235.68       15.8   0.0   1.0  17.0
2006-12-16 17:29:00   3.520     0.522   235.02       15.0   0.0   2.0  17.0
2006-12-16 17:30:00   3.702     0.520   235.09       15.8   0.0   1.0  17.0
2006-12-16 17:31:00   3.700     0.520   235.22       15.8   0.0   1.0  17.0
2006-12-16 17:32:00   3.668     0.510   233.99       15.8   0.0   1.0  17.0
2006-12-16 17:33:00   3.662     0.510   233.86       15.8   0.0   2.0  16.0

In [9]:
def is_integer_column(column):
    return power[column].apply(float.is_integer).all()

for column in power.columns:
    if is_integer_column(column):
        power[column] = power[column].astype('int32')

In [10]:
power.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2049280 entries, 2006-12-16 17:24:00 to 2010-11-26 21:02:00
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Active     float32
 1   Reactive   float32
 2   Voltage    float32
 3   Intensity  float32
 4   met1       int32
 5   met2       int32
 6   met3       int32
dtypes: float32(4), int32(3)
memory usage: 70.4 MB

In [11]:
power.head(10)

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:24:00   4.216     0.418   234.84       18.4     0     1    17
2006-12-16 17:25:00   5.360     0.436   233.63       23.0     0     1    16
2006-12-16 17:26:00   5.374     0.498   233.29       23.0     0     2    17
2006-12-16 17:27:00   5.388     0.502   233.74       23.0     0     1    17
2006-12-16 17:28:00   3.666     0.528   235.68       15.8     0     1    17
2006-12-16 17:29:00   3.520     0.522   235.02       15.0     0     2    17
2006-12-16 17:30:00   3.702     0.520   235.09       15.8     0     1    17
2006-12-16 17:31:00   3.700     0.520   235.22       15.8     0     1    17
2006-12-16 17:32:00   3.668     0.510   233.99       15.8     0     1    17
2006-12-16 17:33:00   3.662     0.510   233.86       15.8     0     2    16

## Task 1
Select all rows where Active > 5 kW

In [12]:
%%time

power[power['Active'] > 5]

CPU times: user 6.5 ms, sys: 0 ns, total: 6.5 ms
Wall time: 5.08 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:25:00   5.360     0.436   233.63       23.0     0     1    16
2006-12-16 17:26:00   5.374     0.498   233.29       23.0     0     2    17
2006-12-16 17:27:00   5.388     0.502   233.74       23.0     0     1    17
2006-12-16 17:35:00   5.412     0.470   232.78       23.2     0     1    17
2006-12-16 17:36:00   5.224     0.478   232.99       22.4     0     1    16
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-22 18:40:00   5.408     0.150   231.50       23.6    48     0     0
2010-11-22 18:41:00   5.528     0.144   232.48       24.6    53     0     0
2010-11-24 07:50:00   5.172     0.050   235.18       22.0     0    38    17
2010-11-24 07:51:00   5.750     0.000   234.40       24.6     0    39    17
2010-11-25 07:21:00   5.074     0.240   238.55       21.4     1     2    18

[17547 rows x 7 columns]

## Task 2
Select all rows where Voltage > 235 V

In [13]:
%%time

power[power['Voltage'] > 235]

CPU times: user 51.4 ms, sys: 3.56 ms, total: 55 ms
Wall time: 53.6 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:28:00   3.666     0.528   235.68       15.8     0     1    17
2006-12-16 17:29:00   3.520     0.522   235.02       15.0     0     2    17
2006-12-16 17:30:00   3.702     0.520   235.09       15.8     0     1    17
2006-12-16 17:31:00   3.700     0.520   235.22       15.8     0     1    17
2006-12-16 17:38:00   4.054     0.422   235.24       17.6     0     1    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-26 20:58:00   0.946     0.000   240.43        4.0     0     0     0
2010-11-26 20:59:00   0.944     0.000   240.00        4.0     0     0     0
2010-11-26 21:00:00   0.938     0.000   239.82        3.8     0     0     0
2010-11-26 21:01:00   0.934     0.000   239.70        3.8     0     0     0
2010-11-26 21:02:00   0.932     0.000   239.55        3.8     0     0     0

[1952491 rows x 7 columns]

## Task 3
Select all where met2 > met3 from rows where Intensity in \[19,20\]

In [14]:
%%time

i_condition = (power['Intensity'] >= 19) & (power['Intensity'] <= 20)
i_subset = power[i_condition]
i_subset

CPU times: user 8.83 ms, sys: 40 µs, total: 8.87 ms
Wall time: 7.84 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 17:34:00   4.448     0.498   232.86       19.6     0     1    17
2006-12-16 17:48:00   4.474     0.000   234.96       19.4     0     0    17
2006-12-16 17:57:00   4.512     0.000   233.62       19.2     0     0    17
2006-12-16 18:09:00   4.464     0.136   234.66       19.0     0    37    16
2006-12-16 18:16:00   4.524     0.076   234.20       19.6     0     9    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-24 07:53:00   4.666     0.000   235.72       19.8     0    39    17
2010-11-24 07:54:00   4.694     0.000   236.78       19.8     0    39    18
2010-11-24 07:55:00   4.602     0.000   237.08       19.4     0    40    17
2010-11-24 07:56:00   4.536     0.000   237.03       19.0     0    39    17
2010-11-24 07:57:00   4.626     0.000   236.78       19.4     0    39    17

[7021 rows x 7 columns]

In [15]:
%%time

i_subset[i_subset['met2'] > i_subset['met3']]

CPU times: user 2.5 ms, sys: 130 µs, total: 2.63 ms
Wall time: 2.87 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:09:00   4.464     0.136   234.66       19.0     0    37    16
2006-12-17 01:04:00   4.582     0.258   238.08       19.6     0    13     0
2006-12-17 01:08:00   4.618     0.104   239.61       19.6     0    27     0
2006-12-17 01:19:00   4.636     0.140   237.37       19.4     0    36     0
2006-12-17 01:20:00   4.634     0.152   237.17       19.4     0    35     0
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-24 07:53:00   4.666     0.000   235.72       19.8     0    39    17
2010-11-24 07:54:00   4.694     0.000   236.78       19.8     0    39    18
2010-11-24 07:55:00   4.602     0.000   237.08       19.4     0    40    17
2010-11-24 07:56:00   4.536     0.000   237.03       19.0     0    39    17
2010-11-24 07:57:00   4.626     0.000   236.78       19.4     0    39    17

[2509 rows x 7 columns]

## Task 4
Select 500000 random unique rows. Calculate mean of all mets.

In [16]:
%%time

rnd_subset = power.sample(50000)
rnd_subset

CPU times: user 121 ms, sys: 4.05 ms, total: 125 ms
Wall time: 126 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2010-08-13 04:19:00   0.246     0.110   241.84        1.0     0     1     1
2010-09-21 22:53:00   0.502     0.076   244.96        2.0     0     0     0
2009-05-09 08:18:00   1.444     0.096   238.70        6.0     0     0    19
2009-10-25 01:30:00   0.716     0.212   242.53        3.0     1     0     1
2008-10-04 18:06:00   1.340     0.328   240.28        5.6     0     1     0
...                     ...       ...      ...        ...   ...   ...   ...
2008-04-06 16:09:00   0.452     0.162   244.01        2.0     0     2     1
2009-11-24 01:01:00   0.464     0.112   243.02        2.0     0     0     0
2007-02-05 14:37:00   1.780     0.120   242.64        7.2     0     0    18
2010-09-30 03:25:00   0.502     0.000   243.14        2.0     0     0     1
2007-10-23 20:14:00   2.438     0.000   239.78       10.0     0     0    17

[50000 rows x 7 columns]

In [17]:
def print_mean(df : pd.DataFrame, column : str):
    mean = df[column].mean()
    print(f"Mean of {column}: {mean}")

print_mean(rnd_subset, 'met1')
print_mean(rnd_subset, 'met2')
print_mean(rnd_subset, 'met3')

Mean of met1: 1.1647
Mean of met2: 1.32422
Mean of met3: 6.47876

## Task 5
From night(>=18:00) rows select all where minute consumption > 6kW

Split this subset by max met and for each select every third from 1 part and every fourth from 2 part

In [18]:
nigth_subset = power[power.index.hour >= 18]
nigth_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:00:00   2.790     0.180   237.52       11.8     0     0    18
2006-12-16 18:01:00   2.624     0.144   238.20       11.0     0     0    17
2006-12-16 18:02:00   2.772     0.118   238.28       11.6     0     0    17
2006-12-16 18:03:00   3.740     0.108   236.93       16.4     0    16    18
2006-12-16 18:04:00   4.928     0.202   235.01       21.0     0    37    16
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-26 20:58:00   0.946     0.000   240.43        4.0     0     0     0
2010-11-26 20:59:00   0.944     0.000   240.00        4.0     0     0     0
2010-11-26 21:00:00   0.938     0.000   239.82        3.8     0     0     0
2010-11-26 21:01:00   0.934     0.000   239.70        3.8     0     0     0
2010-11-26 21:02:00   0.932     0.000   239.55        3.8     0     0     0

[513146 rows x 7 columns]

In [19]:
night_subset = nigth_subset.resample('Min').sum() #probably several minute is not exists
nigth_subset.isna().all()

Active       False
Reactive     False
Voltage      False
Intensity    False
met1         False
met2         False
met3         False
dtype: bool

In [20]:
nigth_gt6_subset = nigth_subset[nigth_subset['Active'] > 6]
nigth_gt6_subset

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-16 18:05:00   6.052     0.192   232.93       26.2     0    37    17
2006-12-16 18:06:00   6.752     0.186   232.12       29.0     0    36    17
2006-12-16 18:07:00   6.474     0.144   231.85       27.8     0    37    16
2006-12-16 18:08:00   6.308     0.116   232.25       27.0     0    36    17
2006-12-16 18:35:00   6.072     0.000   232.48       26.4     0    27    17
...                     ...       ...      ...        ...   ...   ...   ...
2010-11-20 18:44:00   6.374     0.392   228.52       28.2    15    36    16
2010-11-20 18:45:00   6.564     0.430   228.43       29.0    13    40    16
2010-11-20 18:46:00   6.438     0.308   229.26       28.4    13    39    16
2010-11-20 18:49:00   6.210     0.174   228.82       27.4    21    34    17
2010-11-20 18:52:00   6.364     0.126   229.38       28.2    17    34    16

[2882 rows x 7 columns]

In [21]:
indexer = lambda row: np.argmax([row['met1'], row['met2'], row['met3']]) + 1
classes = nigth_gt6_subset.apply(indexer, axis = 1)

print("Count of classes")
np.unique(classes, return_counts=True)[1]

Count of classes

array([1740, 1062,   80])

In [22]:
def get_split_group(df : pd.DataFrame, n: int, classes):
    return df.loc[classes[classes == n].index]

met1_subset = get_split_group(nigth_gt6_subset, 1, classes)
met2_subset = get_split_group(nigth_gt6_subset, 2, classes)
met3_subset = get_split_group(nigth_gt6_subset, 3, classes)

In [23]:
def nth(df : pd.DataFrame, n : int, start : int, end : int):
    indexes = np.arange(start, end, n)      
    return df.iloc[indexes]

def fourth_from_tail(df : pd.DataFrame):
    start = np.floor(len(df) / 2)
    end = len(df)
    return nth(df, 4, start, end)

def third_from_head(df : pd.DataFrame):
    start = 0
    end = np.ceil(len(df) / 2)
    return nth(df, 3, start, end)

In [24]:
%%time

third_from_head(met1_subset)

CPU times: user 1.5 ms, sys: 0 ns, total: 1.5 ms
Wall time: 1.39 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2006-12-22 21:27:00   6.906     0.078   231.03       30.4    20     0    16
2006-12-22 21:30:00   7.620     0.148   231.61       32.8    36     0    16
2006-12-22 21:33:00   7.684     0.134   232.22       33.0    36     0    17
2006-12-22 21:36:00   7.524     0.120   230.90       32.6    36     0    16
2006-12-22 21:39:00   7.322     0.068   230.76       31.6    35     0    16
...                     ...       ...      ...        ...   ...   ...   ...
2008-01-26 23:18:00   7.166     0.000   236.47       30.8    37     1    17
2008-01-27 19:24:00  10.162     0.224   229.16       44.2    71     0     0
2008-02-02 19:15:00   7.206     0.352   230.45       31.2    36    34    16
2008-02-02 19:20:00   7.732     0.422   230.46       33.6    36    34    17
2008-02-02 19:23:00   7.678     0.452   232.04       33.0    37    34    17

[290 rows x 7 columns]

In [25]:
%%time

fourth_from_tail(met1_subset)

CPU times: user 1.53 ms, sys: 0 ns, total: 1.53 ms
Wall time: 1.41 ms

                     Active  Reactive  Voltage  Intensity  met1  met2  met3
DateTime
2008-02-02 19:26:00   7.568     0.422   230.46       32.8    36    34    16
2008-02-02 19:33:00   7.988     0.608   229.99       34.8    35    35    16
2008-02-02 19:41:00   8.456     0.546   227.48       37.2    35    34    15
2008-02-02 19:53:00   6.058     0.478   230.70       26.2    36     5    16
2008-02-02 20:44:00   7.898     0.298   231.37       34.0    71     1    16
...                     ...       ...      ...        ...   ...   ...   ...
2010-10-10 20:45:00   6.892     0.464   234.13       29.8    31     1    18
2010-10-14 18:49:00   6.234     0.310   235.39       26.6    47     0    18
2010-11-04 19:16:00   6.696     0.432   233.72       28.8    40    35     0
2010-11-04 20:37:00   6.572     0.056   235.76       28.0    80     0     1
2010-11-04 20:43:00   6.598     0.152   236.70       27.8    80     0     1

[218 rows x 7 columns]

# Performance tests

In [26]:
import performance as pf

step = 100000
count = 10
performance_df = pd.DataFrame()

In [27]:
performance_df['Selection'] = pf.get_mean_execution_time_iterative(power, lambda arr: arr[arr['Active']>5], count=count, step=step)

In [28]:
performance_df['BuiltInCalculation'] = pf.get_mean_execution_time_iterative(power, lambda arr: arr['Active'].mean(), count=count, step=step)

In [29]:
def test_func(arr):
    return arr[['Active']].apply(np.mean)

performance_df['CustomCalculation'] = pf.get_mean_execution_time_iterative(power, test_func, count=count, step=step)

In [30]:
performance_df

    Selection  BuiltInCalculation  CustomCalculation
0       0.002           1.563e-04              0.003
1       0.001           9.316e-04              0.004
2       0.001           1.356e-03              0.005
3       0.001           1.468e-03              0.005
4       0.002           1.773e-03              0.006
5       0.002           2.121e-03              0.006
6       0.002           2.254e-03              0.005
7       0.002           2.972e-03              0.005
8       0.002           3.886e-03              0.006
9       0.003           4.061e-03              0.008
10      0.003           4.602e-03              0.008
11      0.003           5.145e-03              0.007
12      0.003           4.480e-03              0.007
13      0.004           4.525e-03              0.008
14      0.004           4.823e-03              0.010
15      0.004           5.209e-03              0.010
16      0.003           5.615e-03              0.008
17      0.004           7.529e-03              0.010
18      0.004           8.021e-03              0.013
19      0.004           7.532e-03              0.010
20      0.003           6.897e-03              0.010
21      0.003           7.078e-03              0.012

In [31]:
performance_df.to_csv("data/pandas-performance.csv", index=False)